@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div>
    <p>The CRUD Application is a web-based application that allows users to perform basic CRUD (Create, Read, Update, Delete) operations on financial entries. It provides a user-friendly interface for managing financial transactions and keeping track of account balances.</p>
    <ul>
        Key Features:
        <li>
            User Management: The application allows users to register and create an account. Users can log in using their credentials and manage their financial entries.
        </li>
        <li>
            Financial Entries: Users can create, view, update, and delete financial entries. Each entry represents a financial transaction and includes details such as account, narration, currency, type (credit/debit), and balance.
        </li>
        <li>Dashboard Statistics: The application provides a dashboard that displays statistics related to the user's financial entries. This includes the balance of different types of accounts, such as savings, salary, and current accounts.</li>
        <li>Audit Trail: The application keeps track of changes made to financial entries through an audit trail. The audit records the table, field, old value, new value, creation date, and the user responsible for the change. This helps in tracking and auditing the history of financial entries.</li>
        <li>Data Validation: The application includes data validation rules to ensure that required fields are filled out correctly and that data length limits are adhered to. It also validates email addresses and passwords to ensure secure user authentication.</li>
    </ul>
    <p>Overall, the CRUD Application provides a convenient way for users to manage their financial entries, track account balances, and maintain an audit trail of changes. It offers a secure and efficient solution for personal finance management and record-keeping.</p>

</div>
